# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are sumarized.

Objetives:

- List of Popular Data Science Languages
- List of Commonly Used Data Science Libraries
- Table of the Three Most Used Open Source Development Tools for Data Science
- Examples of Arithmetic Expressions

Some of the popular Data Science languages are
1. Python
2. SQL
3. R
4. Scala
5. Java
6. Julia
7. C++

Some of the most commonly used Data Science libraries are
1. Pandas
2. Scikit-learn
3. Matplotlib
4. Numpy
5. Seaborn

|Data Science Tools|
|-------|
|Jupyter|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60

hours

3.3333333333333335

## Author
Lucas de Almeida Sabino Carvalho